<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About App</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img id="ayto" src="../../assets/icon/Ayuntamiento_de_Córdoba_2.jpg">
  <p>Mobile APP totally free where you can participate to have a city out incidences,
    you should to report each incidence that you search at the public road.
  </p>
  <p>You will be rewarded as follows: </p>
  <p>You can accumulate points for each incidence that the city hall of Cordoba validate and
    at the end of the year you can get a lot of awards in a big draw.
    Thank you for your collaboration
  </p>
  <img id="ayto" src="../../assets/icon/descarga.jpg">

</ion-content>
