.bg-image{
    --background: url('../../assets/icon/Screenshot_2.png') no-repeat center center / cover;
}

#ayto{
    width: 170px;
    height: 170px;
    margin-left: 45%;
    margin-top: 17%;
}

#one{
    margin-left: 75%;
    margin-top: 5%;
    font-size: 60%;
}

.fac{
    margin-left: 60%;

}

#btns{
    margin-top: 5%;
}
